<div class="p-5 mb-4 mt-4 bg-light rounded-3 text-center">
  <h1>MEAN Apps Workshop UIKA</h1>
  <p class="lead">
    Selamat mencoba melakukan praktik Fullstack Development Backend Frontend
    menggunakan MEAN
  </p>
  <div>
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a>&nbsp;
    <a [routerLink]="['/login']" class="btn btn-dark">Login</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Menggunakan backend node.js, express.js, dan database MongoDb</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>
      Sebagai perangkat untuk membangun component, services dan kebutuhan untuk
      sebuah frontend.
    </p>
  </div>
  <div class="col-md-4">
    <h3>JWT Token</h3>
    <p>Autentikasi menggunakan JSON Web Token Login dan simpan data User</p>
  </div>
</div>
